footer {
    padding: 36px;
    text-align: start;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer-container {
    display: flex;
    gap: 42px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 850px) {
    footer .footer-container {
        flex-direction: column;
    }
}

footer .footer-container .footer-section {
    flex: 1;
    grid-gap: 24px;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-section div {
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-section div a {
    font-size: 16px;
    padding: 4px 0;
    text-decoration: none;
}


footer .footer-container .footer-section div .section-title {
    font-size: 36px;
}

footer .footer-container .footer-section div .description {
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-section .social-media {
    flex-direction: row;
    gap: 10px;
}

footer .footer-container .footer-section .social-media a {
    font-size: 24px;
}

footer .footer-container .footer-section .sitemap {
    gap: 10px;
}
