.section-post {
    max-width: 680px;
    padding: 60px;
    margin: 0 auto;
    box-sizing: content-box;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-post figure {
    margin: 2rem 0 !important;
}

.section-post article .content {
    display: contents;
    color: #000;
    font-size: 16px;
    line-height: 150%;
}

.section-post article .content a {
    color: var(--secondary-color);
    font-weight: bold;
}

.section-post article .content a:hover {
    text-decoration: none;
    color: black;
}

.section-post article .content h2, .section-post article .content h3, .section-post article .content h4, .section-post article .content h5, .section-post article .content h6, .section-post p {
    margin-bottom: 27px !important;
}

.section-post img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}


@media (max-width: 600px) {
    .section-post {
        padding: 20px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
}

time {
    font-family: var(--notosans-regular);
}

ul li {
    font-family: var(--notosans-regular);
}

ul li strong {
    font-family: var(--notosans-bold);
}