@import "Components/cards.css";


.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1290px;
    margin: 0 auto;
    padding: 60px 10px;
}


.category-container > section > div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
}