@import "fonts/noto_sans.css";

:root {
    --white: #fff;
    --background-color: #FAFBFC;
    --black: #000;
    --primary-color: #31473A;
    --secondary-color: #296a18;
    --notosans-regular: 'Noto Sans Regular', sans-serif;
    --notosans-medium: 'Noto Sans Medium', sans-serif;
    --notosans-bold: 'Noto Sans Bold', sans-serif;
}