article {
    background-color: var(--white);
}

.big-article {
    grid-column: span 3;
}

.medium-article {
    grid-column: span 2;
}

article > a {
    display: block;
    text-decoration: none;
    color: inherit;
}

article > a > .header-article,
article > a > .footer-article {
    font-family: var(--roboto-regular);
    padding: 20px;
}

article > a > .header-article > .category > span {
    font-family: var(--roboto-regular);
    font-size: 14px;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

article > a > .header-article > h2 {
    font-size: 1.2rem;
    margin-top: 20px;
}

article:hover h2 {
    color: var(--primary-color);
}

article > a > figure > img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.time-card {
    margin-top: 15px;
    display: flex;
}

.small-article > a > div > figure > img {
    width: 82px;
    height: 82px;
    object-fit: cover;
}

.small-article > a {
    display: flex;
}

.small-article > a > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
}

.small-article > a > div:last-child > h2 {
    font-size: 15px;
}

.small-article > a > div:last-child > time {
    font-size: 12px;
    font-family: var(--roboto-regular);
}

@media (max-width: 1001px) {
    .big-article,
    .medium-article {
        grid-column: span 2;
    }

    .big-article.post-list {
        grid-column: span 9;
    }
}
