@font-face {
    font-family: 'Noto Sans Regular';
    src: url('../../fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('../../fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../../fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}